<% if post.cheering_by?(current_member) %>
  <p>
    <i class="fas fa-hand-holding-heart" style="color: pink;"></i>
    <%= post.cheerings.count %>
  </p>
<% else %>
  <p>
    <i class="fas fa-hand-holding"></i>
    <%= post.cheerings.count %>
  </p>
<% end %>