<div class="row">
  
  <div class="col-xs-7">
    <h3>ありがとう一覧</h3>
    <%= render "layouts/thank_index", thanks: @thanks %>
    <%= paginate @thanks %>
  </div>
  <div class="col-xs-5">
    <h3 class="col-xs-offset-2">ありがとうを贈る</h3>
    <%= render "layouts/thank_form" %>
  </div>
</div>