<div class="row">
<h1>サイトへの想い</h1>
<h3>組織は人の集まり、人の成長が組織の成長、その成長を加速させたい</h3>
<h3>互いを承認し合う環境を創り定着するキッカケを創りたい</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>機能</th>
      <th colspan="3">説明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ありがとう機能</td>
      <td>日々の感謝を贈り合うことが出来ます。感謝を形に残し伝える手紙のようなものです。</td>
    </tr>
    <tr>
      <td>投稿機能</td>
      <td>迅速な情報共有。経験などを仲間に伝え成長をあなたの１つの投稿で実現できる</td>
    </tr>
    <tr>
      <td>投稿へのリアクション機能</td>
      <td>
        称賛、応援、コメントの３つを用意しています。</br>
        称賛は投稿に対して感謝を投稿者に伝えましょう。１つのリアクションが承認し合う環境が心理的安定性を生みます。</br>
        応援は投稿の中身を積極的に失敗談や挑戦などと挙げみんなで応援し合いましょう。</br>
        コメントは投稿の中身に対して言葉を残す時に使いましょう。</br>
      </td>
    </tr>
    <tr></tr>
  </tbody>
</table>

</div>