/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

p{
  word-break:normal;// 英語は単語毎、日本語は範囲で自動改行
}

// devise
.bootstrap-date {
  display: inline-block;
  width: auto;
}

// 全体
.content-box{
  display: flex;
  flex-direction: column;
  border:1px solid #d8dde5;
  border-radius: 8px;
  padding:15px 16px;
  text-decoration: none;
  position:relative;
}

.content-member_name{
  display: flex;
  flex-direction: row;
}

.content-header{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-left: thick solid orange;
  padding-left: 10px;

}

.content-body{
  display: flex;
  flex-direction: row;
  margin: 12px 8px;
}

.content-top_right{
  display: flex;
  position: absolute;
  right: 8px;
  color: #808080;
}

.content-bottom_right{
  display: flex;
  position: absolute;
  right: 8px;
  bottom: 0px;
}

.icon{
  margin-left:5px;
}

.icon-trash{
  margin-left:10px;
  color:#ff0000;
  font-size: 1.2em;
}

.icon-edit{
  margin-left:5px;
  color:#000080;
  font-size: 1.2em;
}

.button {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 12pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 8px 12px;
  background    : #ffa64d;     /* 背景色:会社のイメージカラーに変える */
  color         : #ffffff;     /* 文字色:背景色に合わせてバランスを取る */
  line-height   : 0.8em;
  transition    : .3s;
  box-shadow    : 5px 5px 3px #666666;
  border        : 2px solid #ffa64d;
}
.button:hover {
  box-shadow    : none;
  color         : #ffa64d;     /* 上記の背景色を反転させる */
  background    : #ffffff;     /* 背景色反転に合わせてこちらも変更 */
}

// top
.main-visual-content{
  width: 100%;
  height: 300px;
  background-image: url(cherry1.jpg);
  background-size: cover;
  background-position: center;
}

// post
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}

.comment-box {
  position   : relative;                /* 指定した分だけ相対的に移動 */
  padding: 10px;                        /* テキストの前後の余白 */
  background-color: rgba(102, 102, 255, 0.50);       /* 背景色（透明度） */
  width: 80%;                          /* 吹き出し全体の幅 */
  left : 40%;                           /* 表示位置 */
  transform: translate(-50%);           /* 表示位置の調整 */
  margin: 10px 0;
}
.comment-box:after{
  border-bottom: 12px solid rgba(102, 102, 255, 0.50); /* 吹き出し口の高さ・色 */
  border-left: 8px solid transparent;    /* 吹き出し口の幅１／２ */
  border-right: 8px solid transparent;   /* 吹き出し口の幅１／２ */
  top: -12px;                             /* 吹き出し口の位置調整 */
  left : 2%;                      /* 吹き出し口の横位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}