<% if model.errors.any? %>
  <div id="error_message">
    <h3><%= model.errors.count %>件のエラーが発生しました。</h3>
    <div class="error_message_list">
    <% model.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
  </div>
<% end %>